[Unit]
Description = MultiChain
After = syslog.target network.target remote-fs.target

[Service]
Type=forking
ExecStart = {{ multichain_usr_dir }}/multichaind chain1 -daemon -bind={{ ansible_eth1.ipv4.address }}
ExecStop = {{ multichain_usr_dir }}/multichain-cli chain1 stop

[Install]
WantedBy = multi-user.target